.Country{
    @apply relative w-full px-20 pb-20;

    .back{
        border: none;
        background-color: hsl(209, 23%, 22%);
        width: 8.5rem;
        height: 2.5rem;
        @apply mt-20 flex flex-row items-center justify-center rounded-md shadow-md z-10;
        &:focus{
            outline: 1px solid hsl(200, 15%, 8%);
        }
        img{
            @apply -ml-2 mr-4;
            width: 1.35rem;
        }
        p{
            @apply text-white text-base font-semibold;
            text-decoration: none;
            border: none;
        }
    }
    .Country_main{
        @apply w-full mt-20 flex flex-row justify-between items-start;
        .Country_flag{
            width: 35rem;
            min-width: 35rem;
            height: 25rem;
        }
        .Country_info{
            width: 36rem;
            @apply flex flex-col items-start justify-start ml-5;
            .header{
                @apply w-full mt-10;
                h1{
                    @apply text-white font-semibold text-4xl mb-7;
                }
            }
            .info{
                @apply w-full flex flex-row justify-between items-start;
                .info_left{
                    width: 16rem;
                    p{
                        @apply text-white text-base font-semibold mb-2 flex flex-row flex-wrap items-center;
                        span{
                            @apply text-sm font-light text-white ml-1;
                        }
                    }
                }
                .info_right{
                    width: 15.75rem;
                    p{
                        @apply text-white text-base font-semibold mb-2 flex flex-row flex-wrap items-center;
                        span{
                            @apply text-sm font-light text-white ml-1;
                        }
                    } 
                }
            }
            .Country_bordes{
                @apply mt-14 w-full flex flex-row flex-wrap justify-start items-center;
                .borders{
                    width: 8.5rem;
                    @apply text-white text-base font-semibold mb-2;
                }
                .border{
                    background-color: hsl(209, 23%, 22%);
                    border-radius: 3px;
                    @apply items-center px-7 py-1 mx-2 shadow-md mb-2;
                    .border_p{
                        border: none;
                        @apply text-white text-sm font-light;
                    }
                }
            }
        }
    }
}

.DarkCountry{
    .back{
        background-color: hsl(0, 0%, 100%);
        &:focus{
            outline: 1px solid hsl(200, 15%, 8%);
        }
        p{
            @apply text-white text-base font-semibold;
        }
    }
    .Country_main{
        .Country_info{
            .header{
                h1{
                    color : hsl(200, 15%, 8%);
                }
            }
            .info{
                .info_left{
                    p{
                        color : hsl(200, 15%, 8%);
                        span{
                            color : hsl(200, 15%, 8%);
                        }
                    }
                }
                .info_right{
                    p{
                        color : hsl(200, 15%, 8%);
                        span{
                            color : hsl(200, 15%, 8%);
                        }
                    }
                }
            }
            .Country_bordes{
                .borders{
                    color : hsl(200, 15%, 8%);
                }
                .border{
                    background-color: hsl(0, 0%, 100%);
                    @apply shadow-lg;
                    .border_p{
                        color : hsl(200, 15%, 8%);
                    }
                }
            }
        }
    }
}


@media only screen and(max-width: 984px){
    .Country{
        padding: 0 5vw 5rem 5vw;
    }
}
@media only screen and (max-width: 1220px){
    .Country{
        .Country_main{
            @apply mt-5 flex-col justify-center items-center;
            .Country_info{
                @apply items-center justify-center ml-0;
                width: 35rem;
                .header{
                    h1{
                        @apply text-center;
                    }
                }
                .info{
                    .info_right{
                        width: 16rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 630px){
    .Country{
        .Country_main{
            .Country_flag{
                width: 100%;
                min-width: 100%;
                height: 62vw;
            }
            .Country_info{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 450px){
    .Country{
        .back{
            @apply mt-10 ;
        }
        .Country_main{
            .Country_info{
                .info{
                    @apply flex-col justify-center items-center;
                    .info_left,.info_right{
                        width: 100%;
                        @apply flex flex-col items-center justify-center;
                    }
                }
                .Country_bordes{
                    @apply mt-10 justify-center ;
                }
            }
        }
    }
}