.List{
    @apply w-full relative top-12;
    .List_section{
        @apply w-full px-20 grid justify-between;
        column-gap: 2%;
        grid-template-columns: repeat(auto-fit, 16.5rem);
        grid-template-rows: repeat(auto-fit, 25rem);
        .List_item{
            width: 16.5rem;
            height: 21rem;
            background-color: hsl(209, 23%, 22%);
            @apply mb-16 rounded-md shadow-lg;
            .item_flag{
                height: 9.75rem;
                @apply w-full rounded-t-lg;
            }
            .item_header{
                height: calc(21rem - 9.75rem);
                @apply w-full overflow-y-auto px-5 py-5;
                h1{
                    @apply font-extrabold text-white text-lg mb-3;
                }
                p{
                    @apply text-white text-base font-light;
                    span{
                        @apply text-gray-300 font-light text-sm ml-1;
                    }
                }
            }
        }
    }
    .Slider{
        @apply w-full absolute -top-10 px-20 h-8 flex flex-row justify-between items-center;

        .Slider-left,.Slider-right{
            border: 1px solid hsl(200, 15%, 8%);
            @apply w-32 h-full bg-transparent flex items-center justify-center rounded-lg;
            img{
                @apply w-3;
            }
            &:focus{
                background-color: hsl(209, 23%, 22%);
                outline: 1px solid hsl(200, 15%, 8%);
            }
        }
        .Slider-dots{
            @apply w-auto flex flex-row px-1 py-1;

            div{
                @apply w-2 h-2 bg-white rounded-full mx-1;
            }
            .currentDot{
                @apply bg-red-400;
            }
        }
    }

}

@media only screen and (min-width: 1450px){
    .List{
        .List_section{
            grid-template-columns: repeat(4, 18vw);
            grid-template-rows: repeat(2, 25rem);
            .List_item{
                width: 18vw;
            }
        }
    }
}
@media only screen and (min-width: 1920px){
    .List{
        .List_section{
            grid-template-columns: repeat(4, 20rem);
            grid-template-rows: repeat(2, 27rem);
            .List_item{
                width: 20rem;
                height: 23rem;
                .item_flag{
                    height: 10.75rem;
                }
                .item_header{
                    height: calc(23rem - 10.75rem);
                }
            }
        }
    }
}
@media only screen and(max-width: 984px){
    .List{
        .List_section{
            padding: 0 5vw;
        }
        .Slider{
            padding: 0 5vw;
        }
    }
}
@media only screen and (max-width: 916px){
    .List{
        .List_section{
            @apply justify-around;
        }
    }
}
@media only screen and (max-width: 880px){
    .List{
        .Slider{
            .Slider-left,.Slider-right{
                @apply w-20;
                img{
                    @apply w-3;
                }
            }
            .Slider-dots{
                div{
                    @apply w-2 h-2;
                }
            }
        }
    
    }
}
@media only screen and (max-width: 800px){
    .List{
        .Slider{
            .Slider-dots{
                div{
                    width: .8vw;
                    height: .8vw;
                }
            }
        }
    
    }
}

@media only screen and (max-width: 600px){
    .List{
        .Slider{
            .Slider-left,.Slider-right{
                @apply w-16 ;
                img{
                    @apply w-2;
                }
            }
            .Slider-dots{
                div{
                    margin: .3vw;
                    width: 1vw;
                    height: 1vw;
                }
            }
        }
    
    }
}
@media only screen and (max-width: 450px){
    .List{
        .Slider{
            .Slider-left,.Slider-right{
                @apply w-12;
                img{
                    @apply w-3;
                }
            }
            .Slider-dots{
                div{
                    margin: .3vw;
                    width: 1.1vw;
                    height: 1.1vw;
                }
            }
        }
    
    }
}

@media only screen and (max-width: 320px){
    .List{
        .List_section{
            grid-template-columns: repeat(auto-fit, 100%);
            .List_item{
                width: 100%;
            }
        }

    }
}