.List {
  @apply w-full relative top-12;
}

.List .List_section {
  @apply w-full px-20 grid justify-between;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -ms-grid-columns: (16.5rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 16.5rem);
  -ms-grid-rows: (25rem)[auto-fit];
      grid-template-rows: repeat(auto-fit, 25rem);
}

.List .List_section .List_item {
  width: 16.5rem;
  height: 21rem;
  background-color: #2b3945;
  @apply mb-16 rounded-md shadow-lg;
}

.List .List_section .List_item .item_flag {
  height: 9.75rem;
  @apply w-full rounded-t-lg;
}

.List .List_section .List_item .item_header {
  height: calc(21rem - 9.75rem);
  @apply w-full overflow-y-auto px-5 py-5;
}

.List .List_section .List_item .item_header h1 {
  @apply font-extrabold text-white text-lg mb-3;
}

.List .List_section .List_item .item_header p {
  @apply text-white text-base font-light;
}

.List .List_section .List_item .item_header p span {
  @apply text-gray-300 font-light text-sm ml-1;
}

.List .Slider {
  @apply w-full absolute -top-10 px-20 h-8 flex flex-row justify-between items-center;
}

.List .Slider .Slider-left, .List .Slider .Slider-right {
  border: 1px solid #111517;
  @apply w-32 h-full bg-transparent flex items-center justify-center rounded-lg;
}

.List .Slider .Slider-left img, .List .Slider .Slider-right img {
  @apply w-3;
}

.List .Slider .Slider-left:focus, .List .Slider .Slider-right:focus {
  background-color: #2b3945;
  outline: 1px solid #111517;
}

.List .Slider .Slider-dots {
  @apply w-auto flex flex-row px-1 py-1;
}

.List .Slider .Slider-dots div {
  @apply w-2 h-2 bg-white rounded-full mx-1;
}

.List .Slider .Slider-dots .currentDot {
  @apply bg-red-400;
}

@media only screen and (min-width: 1450px) {
  .List .List_section {
    -ms-grid-columns: (18vw)[4];
        grid-template-columns: repeat(4, 18vw);
    -ms-grid-rows: (25rem)[2];
        grid-template-rows: repeat(2, 25rem);
  }
  .List .List_section .List_item {
    width: 18vw;
  }
}

@media only screen and (min-width: 1920px) {
  .List .List_section {
    -ms-grid-columns: (20rem)[4];
        grid-template-columns: repeat(4, 20rem);
    -ms-grid-rows: (27rem)[2];
        grid-template-rows: repeat(2, 27rem);
  }
  .List .List_section .List_item {
    width: 20rem;
    height: 23rem;
  }
  .List .List_section .List_item .item_flag {
    height: 10.75rem;
  }
  .List .List_section .List_item .item_header {
    height: calc(23rem - 10.75rem);
  }
}

@media only screen and (max-width: 984px) {
  .List .List_section {
    padding: 0 5vw;
  }
  .List .Slider {
    padding: 0 5vw;
  }
}

@media only screen and (max-width: 916px) {
  .List .List_section {
    @apply justify-around;
  }
}

@media only screen and (max-width: 880px) {
  .List .Slider .Slider-left, .List .Slider .Slider-right {
    @apply w-20;
  }
  .List .Slider .Slider-left img, .List .Slider .Slider-right img {
    @apply w-3;
  }
  .List .Slider .Slider-dots div {
    @apply w-2 h-2;
  }
}

@media only screen and (max-width: 800px) {
  .List .Slider .Slider-dots div {
    width: .8vw;
    height: .8vw;
  }
}

@media only screen and (max-width: 600px) {
  .List .Slider .Slider-left, .List .Slider .Slider-right {
    @apply w-16;
  }
  .List .Slider .Slider-left img, .List .Slider .Slider-right img {
    @apply w-2;
  }
  .List .Slider .Slider-dots div {
    margin: .3vw;
    width: 1vw;
    height: 1vw;
  }
}

@media only screen and (max-width: 450px) {
  .List .Slider .Slider-left, .List .Slider .Slider-right {
    @apply w-12;
  }
  .List .Slider .Slider-left img, .List .Slider .Slider-right img {
    @apply w-3;
  }
  .List .Slider .Slider-dots div {
    margin: .3vw;
    width: 1.1vw;
    height: 1.1vw;
  }
}

@media only screen and (max-width: 320px) {
  .List .List_section {
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
  }
  .List .List_section .List_item {
    width: 100%;
  }
}
/*# sourceMappingURL=List.css.map */