.List{
    @apply w-full relative top-12;
    .List_section{
        @apply w-full flex flex-row flex-wrap justify-between items-start px-16;
        .List_item{
            width: 16.5rem;
            height: 21rem;
            background-color: hsl(209, 23%, 22%);
            @apply mx-4 mb-16 rounded-md shadow-lg;
            .item_flag{
                height: 9.75rem;
                @apply w-full rounded-t-lg;
            }
            .item_header{
                height: calc(21rem - 9.75rem);
                @apply w-full overflow-y-auto px-5 py-5;
                h1{
                    @apply font-extrabold text-white text-lg mb-3;
                }
                p{
                    @apply text-white text-base font-light;
                    span{
                        @apply text-gray-300 font-light text-sm ml-1;
                    }
                }
            }
        }
    }
    .Slider{
        @apply w-full absolute -top-10 px-20 h-8 flex flex-row justify-between items-center;

        .Slider-left,.Slider-right{
            border: none;
            @apply w-32 h-full bg-transparent flex items-center justify-center;
            img{
                @apply w-3;
            }
            &:focus{
                background-color: hsl(209, 23%, 22%);
                outline: 1px solid hsl(200, 15%, 8%);
            }
        }
        .Slider-dots{
            @apply w-auto flex flex-row px-1 py-1;

            div{
                @apply w-2 h-2 bg-white rounded-full mx-1;
            }
            .currentDot{
                @apply bg-red-400;
            }
        }
    }

}

@media only screen and (min-width: 1450px){
    .List{
        .List_section{
            .List_item{
                width: 17vw;
                margin: 0 1vw 3.889vw 1vw;
            }
        }
    }
}
@media only screen and (min-width: 1920px){
    .List{
        .List_section{
            @apply px-12;
            .List_item{
                width: 20rem;
                height: 23rem;
                margin: 0 2.2rem 5rem 2.2rem;
                .item_flag{
                    height: 10.75rem;
                }
                .item_header{
                    height: calc(23rem - 10.75rem);
                }
            }
        }
    }
}