.Filtrs{
    @apply w-full flex flex-row relative justify-between items-center px-20 mt-12 h-14;
    .Search{
        background-color: hsl(209, 23%, 22%);
        width: 30rem;
        @apply flex flex-row justify-start items-center h-full px-7 rounded-md shadow-lg;
        img{
            @apply w-5 mr-5 pb-1;
        }
        input{
            border: none;
            @apply pl-1 w-full bg-transparent text-white font-semibold text-sm;
            &::placeholder{
                @apply text-white font-semibold text-sm;
            }
            &:focus{
                outline: 1px solid hsl(200, 15%, 8%);
            }
        }
    } 
    .Options{
        width: 12.5rem;
        @apply flex flex-col h-full relative justify-between items-center rounded-md z-30 bg-transparent shadow-lg;
        .Options_container{
            border: none;
            background-color: hsl(209, 23%, 22%);
            @apply flex flex-row justify-between items-center w-full h-full pl-6 pr-4 z-0 rounded-md;
            img{
                pointer-events: none;
                @apply w-4 pl-1 pb-1;
            }
            p{
                pointer-events: none;
                @apply text-white font-light;
            }
            &:focus{
                outline: 1px solid hsl(200, 15%, 8%);
            }
        }
        .Options_filters {
            background-color: hsl(209, 23%, 22%);
            @apply absolute top-16 left-0 w-full flex flex-col rounded-md;
            button{
                border: none;
                @apply bg-transparent w-full flex flex-row justify-between items-start px-6 py-1 text-white font-semibold text-sm;
                &:nth-child(1){
                    @apply pt-4;
                }
                &:last-child{
                    @apply pb-3;
                }
                img{
                   @apply w-4 pl-1 py-1;
                }
                &:focus{
                    outline: 1px solid hsl(200, 15%, 8%);
                }
            }
        }
    }
}


@media only screen and(max-width: 984px){
    .Filtrs{
        padding: 0 5vw;
    }
}

@media only screen and (max-width: 800px){
    .Filtrs{
        @apply flex-col justify-start items-start h-auto;
        .Search{
            @apply mb-5 h-14;
        } 
        .Options{
            @apply h-14 ;
        }
    }
}


@media only screen and (max-width: 550px){
    .Filtrs{
        .Search{
            @apply w-full;
        } 
    }
}